# pyc are precompiled python2 imports. They're meant to speed startup of the scripts.
*.pyc

# pycache contains precompiled python3 code. It's the python3 equivalent of python2's *.pyc
__pycache__/

# virtual environment files
.venv
